#myKYCelement {
    display: none;
}

#myKYCelement.ready {
    display: block;
}
body{
    margin:0px;
    padding:0px;
}

body > .togglecss {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 8px;
    font-family: Verdana;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
}

body > .togglecss > label {
    display: block;
    position: relative;
    height: 20px;
    margin: 0px 0px 8px 0px;
    cursor:pointer;
}

body > .togglecss > label > span {
    opacity: 0.3;
}

body > .togglecss > label > input[type="radio"] {
    margin: 0 8px 0 0;
    position: relative;
    display: inline-block;
    float: left;
    top: 50%;
    transform: translateY(-50%);

}

body > platform-header   ~ .togglecss{
    top:100px
}

body[data-toggle-css] > .togglecss > label > input[type="radio"]:checked + span {
    opacity: 1;
}
body> .container{

    opacity: 0;
}
body[data-toggle-css]:not([data-toggle-css=""])> .container {

    opacity: 1!important;
}

body[data-toggle-css="kyc"]{
    font-family: Verdana;
}
body[data-toggle-css="kyc"] > .container{
   margin:80px;
}
body[data-toggle-css="kyc"] > platform-header ~ .container{
    margin:120px 80px 80px;
}
body[data-toggle-css="kyc"] #login{
    position: relative;
    width:750px;
    max-width: calc( 100vw - 20px);
    margin:0px auto;
}
body[data-toggle-css="kyc"] #login .form-input{
    display: flex;
    flex-direction: column;
    position: relative;

}
body[data-toggle-css="kyc"] #login .form-input label {

    order: 1;
    display: block;
    margin-bottom:8px;
    font-weight: bold;


}
body[data-toggle-css="kyc"] #login  input,
body[data-toggle-css="kyc"] #login  button,
body[data-toggle-css="kyc"] #login  input[type="button"],
body[data-toggle-css="kyc"] #login  input[type="submit"]{

    padding:8px;
}
body[data-toggle-css="kyc"] #login  button,
body[data-toggle-css="kyc"] #login  input[type="button"],
body[data-toggle-css="kyc"] #login  input[type="submit"]{
    text-transform: uppercase;
    cursor:pointer;
}
body[data-toggle-css="kyc"] #login  button:disabled,
body[data-toggle-css="kyc"] #login  input[type="button"]:disabled,
body[data-toggle-css="kyc"] #login  input[type="submit"]:disabled{
    opacity:0.6;
    cursor:not-allowed;
}
body[data-toggle-css="kyc"] #login .form-input input{
    margin-bottom:1em;
    order: 2;
}

