#myKYCelement:not(.ready) {
    display: none;
}

body {
    margin: 0px;
    padding: 0px;
}

body > .togglecss {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 8px;
    font-family: Verdana;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
}

body > .togglecss > label {
    display: block;
    position: relative;
    height: 20px;
    margin: 0px 0px 8px 0px;
    cursor: pointer;
}

body > .togglecss > label > span {
    opacity: 0.3;
}

body > .togglecss > label > input[type="radio"] {
    margin: 0 8px 0 0;
    position: relative;
    display: inline-block;
    float: left;
    top: 50%;
    transform: translateY(-50%);

}

body > platform-header ~ .togglecss {
    top: 100px
}

body[data-toggle-css] > .togglecss > label > input[type="radio"]:checked + span {
    opacity: 1;
}

body > .container {

    opacity: 0;
}

body[data-toggle-css]:not([data-toggle-css=""]) > .container {

    opacity: 1 !important;
}

body[data-toggle-css="kyc"] {
    font-family: Verdana;
}

body[data-toggle-css="kyc"] > .container {
    margin: 80px;
}

body[data-toggle-css="kyc"] > platform-header ~ .container {
    margin: 120px 80px 80px;
}

body[data-toggle-css="kyc"] #login {
    position: relative;
    width: 750px;
    max-width: calc(100vw - 20px);
    margin: 0px auto;
}

body #login > p > small {
    display: block;
    font-size: inherit;
    position: relative;
}

body[data-toggle-css="kyc"] #login .form-input {
    display: flex;
    flex-direction: column;
    position: relative;

}

body[data-toggle-css="kyc"] #login .form-input label {

    order: 1;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;

}

body #login .form-input label > .required, body #login .required {
    color: #F03A47;
    position: relative;
    display: inline-block;

    font-weight: bold;
}

body #login .form-input label > .required {
    margin-left: 4px;
}

body[data-toggle-css="kyc"] #login
body #login .form-group-box {
    padding: 16px;
    border-top: 2px solid rgba(60, 72, 89, 0.1);

    margin-bottom: 16px;
}

platform-header .sidenav-wrapper {
    display: none !important;
}

body[data-toggle-css="kyc"] > .container input,
body[data-toggle-css="kyc"] > .container button,
body[data-toggle-css="kyc"] > .container input[type="button"],
body[data-toggle-css="kyc"] > .container input[type="submit"] {

    padding: 8px;
}

body[data-toggle-css="kyc"] > .container button,
body[data-toggle-css="kyc"] > .container input[type="button"],
body[data-toggle-css="kyc"] > .container input[type="submit"] {
    text-transform: uppercase;
    cursor: pointer;
}

body[data-toggle-css="kyc"] > .container button:disabled,
body[data-toggle-css="kyc"] > .container input[type="button"]:disabled,
body[data-toggle-css="kyc"] > .container input[type="submit"]:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

[data-kyc-status] .kyc-status ~ [class*="status-"],
[data-kyc-dossier-item] .kyc-status ~ [class*="status-"] {
    font-size: 24px;
    margin-left: 8px;
    transform: translateY(6px);
}

body[data-toggle-css="kyc"] [data-kyc-dossier-item] > div,
body[data-toggle-css="kyc"] [data-kyc-task-item] > div {
    width: 100%;
    display: inline-block;
    position: relative;
    max-width: calc(100% - 50% - 20px);
    text-align: right;
}

body[data-toggle-css="kyc"] [data-kyc-task-item] > div {
    max-width: calc(100% - 80% - 20px);
}

body[data-toggle-css="kyc"] [data-kyc-dossier-item] > div:first-child,
body[data-toggle-css="kyc"] [data-kyc-task-item] > div:first-child {
    max-width: 50%;
    text-align: left;
}

body[data-toggle-css="kyc"] [data-kyc-task-item] > div:first-child {
    max-width: 80%;
}

body[data-toggle-css="kyc"] [data-kyc-dossier-item] > div > .kyc-status,
body[data-toggle-css="kyc"] [data-kyc-task-item] > div > .kyc-status {
    display: inline-block;
    font-size: 60%;
    min-width: 6em;
    margin-left: 10px;
    text-align: right;

}

body[data-toggle-css="kyc"] [data-kyc-dossier-title] .kyc-status,
body[data-toggle-css="kyc"] [data-kyc-task-title] .kyc-status {
    display: inline-block;
    font-size: 60%;
}

body[data-toggle-css="kyc"] .cm-icon {
    display: none
}

body[data-toggle-css="kyc"] > .container .form-input {
    display: flex;
    flex-direction: column;
    position: relative;
}

body[data-toggle-css="kyc"] > .container .form-input input {
    margin-bottom: 1em;
    order: 2;
}

body[data-toggle-css="kyc"] > .container .form-input > .form-input-value {
    order: 2;
    margin: 0 0 8px 0;
    -webkit-appearance: textfield;
}

body[data-toggle-css="kyc"] > .container .form-input > label {
    order: 1;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;

}

body[data-toggle-css="aurora"] > .container  [data-kyc-dossier-item] .kyc-status,
body[data-toggle-css="aurora"] > .container  [data-kyc-task-item] .kyc-status,
body[data-toggle-css="aurora"] > .container [data-kyc-check-status] .kyc-status,
body > .container [data-kyc-status] [class*="status-"] {

    text-align: center;
    display: none !important;
}

body > .container [data-kyc-status="SUBMITTED"] .status-SUBMITTED[class*="status-"],
body > .container [data-kyc-status="OPEN"] .status-OPEN[class*="status-"],
body > .container [data-kyc-status="REJECTED"] .status-REJECTED[class*="status-"],
body > .container [data-kyc-status="ACCEPTED"] .status-ACCEPTED[class*="status-"] {
    display: inline-block !important;;
}
.text-center{
    text-align: center;
}

